.product {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18pt;
    text-align: left;
    max-width: 100%;
    margin-bottom: 30vh;
}

.spacing {
    height: 75px;
}

.container-container {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}

.product-lead-container {
    width: 100%;
    font-weight: 500;
    white-space: pre-line;

    & .product-name {
        font-weight: bold;
        font-size: 48pt;
        margin-bottom: 0;
    }

    & .product-price {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.product-image-container {
    width: 100%;
    display: flex;
    justify-content: center;

    & .product-image {
        width: 60%;
    }
}

.product-details-and-quantity-container {
    margin-bottom: 0;

    & .subtitle {
        font-weight: 500;
        text-decoration: underline;
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .product-main-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        & .product-image-container {
            width: 60%;

        }
    }

    .product-details-and-quantity-container {
        width: 40%;

        & subtitle {
            margin-top: auto;
        }
    }
}

.product-quantity-container {
    width: 100%;
}

.quantity-button-container {
    display: flex;
    width: 65%;
    justify-content: center;
    align-items: center;
}

.quantity-button {
    height: 100%;
    width: 50%;
    cursor: pointer;
    font-size: 28px;
    font-family: 'Consolas';
    background-color: #fff;
    border: solid 1px;
    border-color: #000;
    border-radius: 25px;
}

.quantity {
    padding: 0 30px;
}

.product-add-to-cart-container {
    display: flex;
    width: 100%;
    margin-top: 25px;
}

.add-to-cart-button {
    width: 65%;
    padding: 4px 16px;
    background-color: #000;
    color: #FFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16pt;
}
    
.add-to-cart-button:hover {
    background-color: #11fe34;
}
