.footer-container {
    font-family: "PT Sans Narrow", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: top;
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
    bottom: 0;
}

.column {
    width: 12%;
    margin: 0 25px;
    font-size: 14pt;
}

.column h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.column li {
    margin-bottom: 5px;
}

.copyright p {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    margin: 25px;
    margin-top: 75px;
}