.main-container {
    flex-grow: 1;
    min-height: 100vh;
    font-family: "PT Sans Narrow", sans-serif;
}

.coverImage {
    width: 100%;
    height: calc(100vh - 100px);
    object-fit: cover;
    overflow: hidden;
    object-position: center;
}

.featured-products-container {
    margin: 0 25px;
}

.featured-products-h2 {
    font-size: 36pt;
    text-align: left;
}
