.main-container {
    flex-grow: 1;
    min-height: 100vh;
}

.coverImage {
    width: 100%;
    height: calc(100vh - 100px);
    object-fit: cover;
    overflow: hidden;
    object-position: center;
}
