.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 5px;
}

.navbar img {
    width: 200px;
    height: 37.5px;
    margin: 5px;
    border-radius: 0;
    
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar ul li a {
    font-weight: 500;
    font-size: 14pt;
    color: #000;
    padding-left: 12px;
    padding-right: 12px;
    display: block;
}

.navbar ul a:hover,
.navbar ul a:focus,
.navbar ul .active {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #000;
}
