.product-card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.product-card-container:hover {
    transform: scale(1.05);
}

.product-card-image {
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
}

.product-card-name,
.product-card-price {
    margin: 0 auto;
    margin-top: auto;
}

.product-card-name {
    font-size: 1.2rem;
}

.product-card-price {
    font-size: 1.1rem;
    margin-bottom: 15px;
}