.navbar-container {
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 1000;
    font-family: "PT Sans Narrow", sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.navbar-logo {
    width: 200px;
    height: 37.5px;
    margin: 5px;
    border-radius: 0;
}

.navbar-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-links li a {
    font-weight: 500;
    font-size: 16pt;
    color: #000;
    padding-left: 12px;
    padding-right: 12px;
    display: block;
}

.navbar-links a:hover,
.navbar-links a:focus,
.navbar-links .active {
    text-decoration: underline;
}
