.cart-card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.cart-card-image {
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
}

.cart-card-detail {
    margin: 0 auto;
    margin-top: auto;
}

.cart-card-name, 
.cart-card-detail {
    font-size: 1rem;
    margin-bottom: 15px;
}